.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: black;
}

.sidebar{
    background-color: aqua;
    border: 1px solid black;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(1, 80px) repeat(5 , 40px) repeat(1 , 100px) repeat(2 ,40px);
}
.sidebar p{
    font-size: 20px;
    font-weight: 1000;
    margin: 0;
}
.sidebar h2{
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}

.mainbar{
    background-color: red;
    border: 1px solid green;
    display: grid;
    grid-template-rows: 150px 1fr;
}

.header-mainbar{
    background-color: yellow;
    display: grid;
    
    grid-template-rows: 40px 1fr;
    }

.searchbar{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content:  baseline;
}
.searchbar p{
    
    margin-left: 40px;
    margin-right: 10px;
}
.searchbar img{
    padding: 0 20px;
}
.search-input{
    width: 60%;
    height: 25px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    margin-right: 40px;
}
.profile{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.main-mainbar{
    background-color: chocolate;
}